<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Checkerboard</title>
    <style>
        .color1 {
            background-color: {{color1}};
        }

        .color2 {
            background-color: {{color2}};
        }
    </style>
</head>
<body>
    <h1>CheckerBoard</h1>
    <table>
        {% for row in range(rows): %}
            <tr>
                {% for column in range(columns): %}
                    <td class="color{{ (row+column)%2+1 }}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>